.baseButton {
	width: auto;
	height: auto;
	background-color: $highlight-color;
	font-family: 'SF PRO TEXT';
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	color: $secondary-color;
	padding: 1% 1%;
	border-radius: 4px;
	border: none;
	transition: 200ms ease-in-out 40ms;
	transition-property: filter, text-shadow;
	&:hover{
		filter: brightness(120%);
		text-shadow : 0px 0px 25px $secondary-color;
	}
}