$navbar-bg-color: #0e0e0e;
// $body-bg-color: #1e1e1e;
$body-bg-color: #0f0f0f;
$secondary-color: #0e0e0e;
$text-color: #dddddd;
$light-gray-darker: #181818;
$light-gray-lighter: #303030;
$task-item-height: 60px;
$success-color : #27cf27;
$error-color : #d62626;
