$navbar-bg-color: #0e0e0e;
$body-bg-color: #1a1a1a;
$secondary-color: #0b0b0b;
$text-color: #cccccc;
$unfocused-task-container-bg: #282828;
$focused-task-container-bg: #454545;
$task-item-height: 60px;
$success-color : #27cf27;
$error-color : #d62626;
