$secondary-color: #202020; // used for navbar background
$background-color: #000000; // used for page background
$text-color: #cccccc; // used for text color
$gray-1: #161616; // used for various secondary elements
$gray-2: #2b2a2a; // used for various secondary elements
$gray-3: #3b3b3b; // used for various secondary elements
$success-color: #118f11; // used for success states
$error-color: #b90101; // used for error states
$task-height: 60px; // used for the height of task items