@import 'variables';
@import 'buttons';

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: $gray-3;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
	background-color: $highlight-color;
}

.hudContainer {
	height: 13%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.hud {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: $gray-1;
	height: 72%;
	max-height: 80px;
	width: 40%;
	max-width: 700px;
	min-width: 450px;
	border: 1px solid $gray-3;
	border-radius: $border-rad;
	margin: 10px 0px;
	font-size: 0.5rem;
	.completion {
		width: 30%;
		max-height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 100%;
		h2 {
			font-family: 'SF PRO TEXT';
			font-size: 0.75rem;
			color: $highlight-color;
			margin-right: 4px;
		}
		.percentage {
			height: 80%;
			margin-left: 4px;
		}
		margin-left: 3%;
	}
	
	.timeLeft {
		width: 50%;
		min-width: 184px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-left: 3%;
		margin-right: 3%;
		height: 100%;
		h2 {
			font-family: 'SF PRO TEXT';
			font-size: 0.75rem;
			color: $highlight-color;
			margin-right: 4px;
		}
		h3 {
			font-size: 1rem;
			color: $highlight-color;
			margin-left: 4px;
			font-weight: bold;
		}
	}
	
	.concludeButton {
		font-family: 'SF PRO BLACK';
		min-height: 35px;
		min-width: 90px;
		width: 9%;
		height: 35%;
		font-size: 1rem;
		margin-right: 3%;
	}
}


.boardMain {
	height : 87%;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	flex-grow: 1;
}

.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	.navigationItems {
		div {
			margin-bottom: 40px;
			font-size: 1.5rem;
			color: $highlight-color;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			svg {
				width: 12%;
				margin-right: 10px;
			}
			.boardIcon {
				path {
					stroke: $highlight-color
				}
			}
			.statisticsIcon {
				path {
					fill : $highlight-color;
				}
			}
			.settingsIcon {
				path {
					fill : $highlight-color;
				}
			}
		}
		div:hover {
			text-decoration: underline;
		}
	}
}

.loadingAnimation {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	svg {
		width: 10%;
		height: 10%;
	}
}

.separatingVerticalLine {
	max-width: 3px;
	min-width: 3px;
	margin-top: 1%;
	margin-bottom: 4%;
	border-radius: 20px;
	height: 93%;
	background-color: $gray-3;
	flex-grow: 1;
}

.mainChildrenContainers {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	flex-grow: 1;
	overflow: hidden;
}

.mainChildrenTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 15%;
	min-width: 60px;
	max-width: 90px;
	height: 30px;
	font-size: 1.1rem;
	font-family: 'SF PRO BLACK';
	font-weight: lighter;
	text-align: center;
	color: $highlight-color;
	margin: 2px 0px 10px;
	background-color: $gray-1;
	border-radius: $border-rad;
}

.notesTextArea {
	font-family: 'SF PRO TEXT';
	font-weight: normal;
	font-size: 1rem;
	text-align: left;
	color: $highlight-color;
	line-height: 1.8;
	margin: 1px 10%;
	padding: 2% 2%;
	width: 80%;
	height: 85%;
	background-color: $gray-1;
	border : none;
	border-radius: $border-rad;
	outline: solid 0.02rem $gray-3;
	transition: outline 50ms ease-in-out 0ms;
	&:hover,
	&:focus {
		outline: solid 0.15rem $gray-3;
	}

	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	resize: none;
}

.taskList {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	height: 87%;
	width: 100%;
	position: relative;
	top: 5px;
	max-height: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
}

.taskContainer {
	overflow: hidden;
	background-color: $gray-1;
	height: $task-height;
	min-height: $task-height;
	width: 90%;
	max-width: 900px;
	border-radius: $border-rad;
	border: 1px solid $gray-3;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	transition: 200ms ease-in-out 50ms;
	transition-property: min-height;

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}


	.collapsedContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		min-height: 0.97 * $task-height;
		height: 0.97 * $task-height;
		width: 100%;
		cursor: pointer;
		transition: background-color 55ms ease-in 15ms;
		&:hover {
			background-color: $gray-3;
		}
		.collapseExpandIcon {
			margin-left: 10px;
			margin-right: -26px;
			path {
				fill: $gray-2;
			}
			min-width: 10px;
			width: 2%;
			transition: 400ms ease 0ms;
			transition-property: transform;
		}	

		h1 {
			font-weight: normal;
			font-size: 1.1rem;
			display: flex;
			justify-content: center;
			font-family: 'SF PRO TEXT';
			font-weight: bold;
			align-items: center;
			color: $highlight-color;
			margin: 0 auto 0;
			position: relative;
		}

	}
	
	.progressBar {
		min-height: (1 - 0.97) * $task-height;
		background-color: $gray-3;
		margin-bottom: 0px;
	}
	
	.progressBarFill {
		height: 100%;
		background-color: $highlight-color;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
		appearance: none;
	}
}


.openTaskContainerStyle {
	background-color: $gray-3;
	min-height: 225px;
}

.expandedContainer {
	flex-grow: 1;
	border: none;
	height: 225px - $task-height;
	background-color: $gray-3;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	pre {
		font-family: 'SF PRO TEXT';
		height: 70%;
		text-align: left;
		color: $highlight-color;
		
		padding: 2%;
		margin-left: 4%;
		margin-right: 4%;
		margin-top: 1%;
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: $border-rad;
		border: solid 0.1rem $highlight-color;

		overflow: auto;
		word-wrap: break-word;
		white-space: pre-wrap;
		word-break: break-word;
		resize: none;
		
		h4 {
			font-family: 'SF PRO DISPLAY';
			font-size: 0.9rem;
			font-weight: bold;
			margin: 0;
		}
	}
}

.sliderEditButtonContainer {
	height: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1% 4%;
}

// overflow: hidden;
.progressionSlider {
	width: 70%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: $background-color;
	box-shadow: $highlight-color;
	-webkit-appearance: none;
	outline: none;
	border-radius: 10px;
	overflow: hidden;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $highlight-color;
		cursor: pointer;
		border: 4px solid #333;
		box-shadow: -407px 0 0 400px $highlight-color;
	}
	
	&::-moz-range-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $highlight-color;
		cursor: pointer;
		border: 4px solid #333;
		box-shadow: -407px 0 0 400px $highlight-color;
	}
	
	&::-moz-range-progress {
		background: $highlight-color;
		height: 100%;
	}
}

.editTaskButton {
	background: none;
	cursor: pointer;
	border: none;
	width: 10%;
	height: 60%;
	min-height: 50%;
	svg {
		width: 100%;
		height: 100%;
		transition: 100ms ease-in-out 50ms;
		transition-property: filter, height, width, transform;
	}
	&:hover {
		svg {
			filter: brightness(150%);
			transform: translateX(-3%) translateY(-3%);
			height: 105%;
			width: 105%;
		}
	}
}
.progressionInput {
	width: 10%;
	color: $highlight-color;
	text-align: center;
	background-color: $background-color;
	border: none;
	border-radius: $border-rad;
}

.addTaskButton {
	height: 0.9 * $task-height;
	width: 0.9 * $task-height;
	min-height: 0.9 * $task-height;
	min-width: 0.9 * $task-height;
	border-radius: 50%;
	padding: 0;
	border: none;
	background: none;
	margin: 10px auto 30px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 1));
	transition: background-color, 50ms ease-in-out 10ms;
	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		filter: brightness(80%);
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.04);
		svg {
			filter: brightness(90%);
		}
	}
}

.taskModal {
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease-in 0ms;
	inset: 0px;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: $border-rad;
	position: absolute;
}

.taskFormContainer {
	z-index: 1;
	position: absolute;
	text-align: left;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 90px auto auto;
	background-color: $gray-1;
	height: 70%;
	width: 34%;
	min-width: 410px;
	max-width: 475px;
	max-height: 500px;
	border-radius: $border-rad;
	border: 1px solid rgb(109, 109, 109);
	input,
	textarea {
		background-color: $secondary-color;
		border: none;
		border-radius: $border-rad;
		height: 30px;
		color: $highlight-color;
		padding: 10px;
		resize: none;
	}
	form {
		color: $highlight-color;
		height: 93%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
		margin: 15px 20px;
		h1 {
			font-family: 'SF PRO BLACK';
			font-size: 1.6rem;
			margin: 5px 0px;
			border-bottom: 2px solid currentColor;
		}
		.taskNameContainer {
			display: flex;
			flex-direction: column;
			label {
					font-weight: bold;
				margin-bottom: 7px;
			}
			input {
				font-family: 'SF PRO TEXT';
				border: none;
				background-color: $background-color;
			}
		}
		.taskDescriptionContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			label {
					font-weight: bold;
				margin-bottom: 7px;
			}
			textarea {
				border: none;
				font-family: 'SF PRO TEXT';
				resize: noremne;
				height: 100px;
				background-color: $background-color;
			}
		}
		.priorityContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			label {
					font-weight: bold;
				margin-bottom: 7px;
			}
			.inputOptions {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				input {
					height: 10px;
					accent-color: $background-color;
				}
				label {
					font-weight: normal;
				}
			}
		}
		.buttonsContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			height: 6%;
			button {
				font-weight: bold;
				width: 16%;
				height: 100%;
			}
			.submitButton {
				&:hover {
					background-color: $success-color;
				}
			}
			.cancelButton {
				&:hover {
					background-color: $error-color;
				}
			}
		}
	}
}

.badServerResponse {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
	background-color: $error-color;
	font-weight: bold;
	font-size: 14px;
	color: $highlight-color;
	width: 100%;
	vertical-align: middle;
	line-height: 25px;

	max-height: 20px;
	opacity: 1;
	visibility: visible;
}
.errorBarPortal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
	width: 100%;

	max-height: 0px;
	opacity: 0;
	visibility: hidden;

	transition: 500ms ease-in 500ms;
	transition-property: max-height, visibility, opacity;
}
