@import 'variables';
@import 'buttons';

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: $gray-2;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
	background-color: $text-color;
}

.hudContainer {
	height: 13%;
	min-height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 auto 10px;
	flex-grow: 1;
}

.hud {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: $gray-1;
	height: 60%;
	max-height: 70px;
	min-height: 50px;
	min-width: 450px;
	max-width: 500px;
	border: 1px solid #393939;
	border-radius: 4px;
	margin: 10px 0px;
	padding: 5px 10px;
}

.concludeButton {
	font-family: 'SF PRO BLACK';
}

.completion {
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	h2 {
		font-family: 'SF PRO TEXT';
		font-size: 0.75rem;
		color: $text-color;
	}
}

.timeLeft {
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	h2 {
		font-family: 'SF PRO TEXT';
		font-size: 0.75rem;
		color: $text-color;
	}
	h3 {
		font-size: 1.1rem;
		color: $text-color;
		font-family: 'SF PRO DISPLAY';
		font-weight: bold;
	}
}

.boardMain {
	min-height: 87%;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	flex-grow: 1;
}

.separatingVerticalLine {
	max-width: 1px;
	min-width: 1px;
	margin-top: 1%;
	margin-bottom: 4%;
	height: 93%;
	background-color: $gray-2;
	flex-grow: 1;
}

.mainChildrenContainers {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	overflow: auto;
	flex-grow: 1;
	overflow: hidden;
	background: radial-gradient(rgba(255, 255, 255, 0.02), $background-color 90%);
}

.mainChildrenTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 15%;
	min-width: 60px;
	max-width: 90px;
	height: 30px;
	font-size: 1.1rem;
	font-family: 'SF PRO BLACK';
	font-weight: lighter;
	text-align: center;
	color: $text-color;
	margin: 2px 0px 10px;
	background-color: $gray-1;
	border-radius: 4px;
}

.notesTextArea {
	font-family: 'SF PRO TEXT';
	font-weight: normal;
	font-size: 1rem;
	text-align: left;
	color: $text-color;
	line-height: 1.8;
	margin: 1px 10%;
	padding: 2% 2%;
	width: 80%;
	height: 85%;
	background-color: $gray-1;
	border: none;
	border-radius: 4px;
	outline: $gray-2 solid 0.05rem;
	transition: outline 50ms ease-in-out 0ms;
	&:hover,
	&:focus {
		outline: $gray-2 solid 0.13rem;
	}

	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	resize: none;
}

.taskList {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	width: 100%;
	position: relative;
	top: 5px;
	max-height: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
}

.taskContainer {
	overflow: hidden;
	background-color: $gray-1;
	height: $task-height;
	min-height: $task-height;
	width: 80%;
	max-width: 600px;
	border-radius: 4px;
	border: 1px solid $gray-2;
	filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.7));
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	transition: 200ms ease-in-out 50ms;
	transition-property: min-height;

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}

	h1 {
		font-family: 'SF PRO DISPLAY';
		font-weight: normal;
		font-size: 1.3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: $task-height;
		height: $task-height;
		width: 100%;
		background: none;
		border: none;
		margin: 0;
		padding: 0;
		color: $text-color;
		cursor: pointer;
		transition: background-color 55ms ease-in 15ms;
		&:hover {
			background-color: $gray-2;
		}
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
		appearance: none;
	}
}

// .progressBar {
// 	height: 10px;
// 	background-color: #eee;
// 	margin-bottom: 10px;
// }

// .progressBarFill {
// 	height: 100%;
// 	background-color: #007bff;
// }

.openTaskContainerStyle {
	background-color: $gray-2;
	min-height: 200px;
}

.expandedContainer {
	flex-grow: 1;
	border: none;
	height: 200px - $task-height;
	background-color: $gray-2;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	p {
		height: 70%;
		overflow: auto;
		padding: 0 10%;
		text-align: center;
		margin: 2% 4%;
		color: $text-color;
	}
}

.sliderEditButtonContainer {
	height: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1% 4%;
}

// overflow: hidden;
.progressionSlider {
	width: 70%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: $secondary-color;
	box-shadow: $text-color;
	-webkit-appearance: none;
	outline: none;
	border-radius: 10px;
	overflow: hidden;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $text-color;
		cursor: pointer;
		border: 4px solid #333;
		box-shadow: -407px 0 0 400px $text-color;
	}
}

.editTaskButton {
	background: none;
	cursor: pointer;
	border: none;
	width: 10%;
	height: 60%;
	min-height: 50%;
	svg {
		width: 100%;
		height: 100%;
		transition: 100ms ease-in-out 50ms;
		transition-property: filter, height, width, transform;
	}
	&:hover {
		svg {
			filter: brightness(150%);
			transform: translateX(-3%) translateY(-3%);
			height: 105%;
			width: 105%;
		}
	}
}
.progressionInput {
	width: 10%;
	color: $text-color;
	text-align: center;
	background-color: $secondary-color;
	border: none;
	border-radius: 2px;
}

.addTaskButton {
	height: 0.9 * $task-height;
	width: 0.9 * $task-height;
	min-height: 0.9 * $task-height;
	min-width: 0.9 * $task-height;
	border-radius: 50%;
	padding: 0;
	border: none;
	background: none;
	margin: 10px auto 30px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 1));
	transition: background-color, 50ms ease-in-out 10ms;
	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		filter: brightness(80%);
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.04);
		svg {
			filter: brightness(90%);
		}
	}
}

.taskModal {
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease-in 0ms;
	inset: 0px;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	position: absolute;
}

.taskFormContainer {
	z-index: 1;
	position: absolute;
	text-align: left;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 90px auto auto;
	background-color: $gray-1;
	height: 70%;
	width: 34%;
	min-width: 410px;
	max-width: 475px;
	max-height: 500px;
	border-radius: 4px;
	border: 1px solid rgb(109, 109, 109);
	input,
	textarea {
		background-color: $secondary-color;
		border: none;
		border-radius: 4px;
		height: 30px;
		color: $text-color;
		padding: 10px;
		resize: none;
	}
	form {
		color: $text-color;
		height: 93%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
		margin: 15px 20px;
		h1 {
			font-family: 'SF PRO BLACK';
			font-size: 1.6rem;
			margin: 5px 0px;
			border-bottom: 2px solid currentColor;
		}
		.taskNameContainer {
			display: flex;
			flex-direction: column;
			label {
				font-family: 'SF PRO DISPLAY';
				font-weight: bold;
				margin-bottom: 7px;
			}
			input {
				font-family: 'SF PRO TEXT';
				border: none;
			}
		}
		.taskDescriptionContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			label {
				font-family: 'SF PRO DISPLAY';
				font-weight: bold;
				margin-bottom: 7px;
			}
			textarea {
				border: none;
				font-family: 'SF PRO TEXT';
				resize: noremne;
				height: 100px;
			}
		}
		.priorityContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			label {
				font-family: 'SF PRO DISPLAY';
				font-weight: bold;
				margin-bottom: 7px;
			}
			.inputOptions {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				input {
					height: 10px;
					accent-color: $background-color;
				}
				label {
					font-weight: normal;
				}
			}
		}
		.buttonsContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			.submitButton {
				font-family: 'SF PRO DISPLAY';
				font-weight: bold;
				&:hover {
					background-color: $success-color;
				}
			}
			.cancelButton {
				font-family: 'SF PRO DISPLAY';
				font-weight: bold;
				&:hover {
					background-color: $error-color;
				}
			}
		}
	}
}

.badServerResponse {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
	background-color: $error-color;
	font-family: 'SF PRO DISPLAY';
	font-weight: bold;
	font-size: 14px;
	color: $text-color;
	width: 100%;
	vertical-align: middle;
	line-height: 25px;

	max-height: 20px;
	opacity: 1;
	visibility: visible;
}
.errorBarPortal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
	width: 100%;

	max-height: 0px;
	opacity: 0;
	visibility: hidden;

	transition: 500ms ease-in 500ms;
	transition-property: max-height, visibility, opacity;
}
