@import 'variables';

.percentage {
	background: none;
	// height: 158px;
	// width: 158px;
}

.outer {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	// border: 1px solid black;
	border: none;
	// background: none;
	overflow: hidden;
	background-color: $light-gray-lighter;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* important part */
	display: grid;
	place-items: center;
	grid-template-areas: 'inner-div';
}
.inner {
	height: 71%;
	width: 71%;
	border-radius: 50%;
	// border: 1px solid black;
	border: none;
	background: $light-gray-darker;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'SF PRO DISPLAY BOLD';
	font-weight: bold;
	/* important part */
	grid-area: inner-div;
	color: $text-color;
}

svg {
	height: 99%;
	width: 99%;
	/* important part */
	grid-area: inner-div;
}

circle {
	fill: none;
	stroke-linecap: round;
	stroke: $text-color;
	stroke-width: 14%;
	transition: stroke-dashoffset, 2s 50ms ease-in-out;
}
