@font-face {
	font-family: 'SF PRO DISPLAY REGULAR';
	src: url('../../public/assets/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
	font-family: 'SF PRO DISPLAY BOLD';
	src: url('../../public/assets/SFPRODISPLAYBOLD.OTF');
}

body {
	margin: 0;
	font-family: 'SF PRO DISPLAY REGULAR', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Use a font service like Google Fonts or Adobe Fonts to host your custom fonts. This makes it easier to manage and reduces the risk of missing or outdated font files.
*/