@import 'variables';
@import 'buttons';

.navigationBar {
	height: 100%;
	min-width: 65px;
	max-width: 65px;
	background-color: $background-color;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-right: 1px solid $gray-2;
	z-index: 10;
}

.separatingHorizontalLine {
	width: 70%;
	margin: 1.5% 0%;
	max-height: 1px;
	min-height: 1px;
	background-color: $gray-3;
	flex-grow: 1;
}

.logoImageHolder {
	max-height: 42px;
	max-width: 42px;
	margin: 15px 0;
	display: flex;
	align-items: center;

	flex-grow: 1;
	justify-content: center;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	width: 65%;
	height: 60%;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin-top: 40px;
		margin-bottom: 10px;
		height: 40px;
		width: 100%;
		text-align: center;
	}
}

.homeButton, .statisticsButton {
	display: inline-block;
	width: 80%;
	height: 80%;
	font-family: 'SF PRO DISPLAY';
	font-weight: bold;
	background: none;
	border: none;
	cursor: pointer;
	svg {
		path {
			fill: $highlight-color;
		}
		width: 100%;
		height: 100%;
		transition: 70ms ease-in-out 20ms;
		transition-property: filter, height, width, transform;
	}
	&:hover {
		svg	{
			filter: brightness(110%);
			transform: translateX(-5%) translateY(-5%);
			height: 110%;
			width: 110%;
		}
	}
}


.profileButtonContainer
{
	max-height: 38px;
	min-width: 38px;
	min-height: 38px;
	max-height: 38px;
	margin: 15px 0;
	display: flex;
	align-items: center;

	flex-grow: 1;
	justify-content: center;
}

.profileButton {
	height: 105%;
	background-color: $secondary-color;
	border-radius: 50%;
	margin: 0;
	padding: 0;
	border: 1px solid $highlight-color;
	cursor: pointer;
	transition-delay: 25ms;
	transition-duration: 70ms;
	transition-timing-function: ease-in-out;
	transition-property: outline;
	aspect-ratio: 1 / 1;
	img {
		height: 100%;		
		border-radius: 50%;
		filter: blur(100%);

	  
		object-fit: cover;
		object-position: center right;
	}
}

.profileButtonActive, .profileButton:hover {
	outline-offset: 2px;
	outline: $highlight-color solid 1.5px;
}

.profileDropdown {
	position: absolute;
	bottom: 10px;
	left: 65px;
	width: 125px;
	height: 140px;
	background-color: $gray-1;
	border: 0.1px solid $gray-3;
	border-radius: 0px;
	padding: 1.4rem;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	transition: 70ms ease-in 25ms;
	transition-property: opacity, visibility;
	z-index: 1;
	button {
		font-family: 'SF PRO DISPLAY';
		font-weight: bold;
		color: $highlight-color;
		font-size: 1rem;
		background: none;
		border: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
		z-index: 2;
	}
	button:hover {
		filter: invert(70%);
	}
	hr {
		background-color: $gray-3;
		width: 70%;
		border: 0.1px solid $gray-3;
	}
}

.fullScreenFormContainer {
	z-index: 1;
	text-align: left;
	background-color: $background-color;
	height: 100%;
	width: 100%;
	color: $highlight-color;
	h1 {
		align-self: flex-start;
		font-family: 'SF PRO BLACK';
		font-size: 1.6rem;
		margin: 10px 15px;
	}
}

.buttonsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 5%;
	height: 40%;
	align-self: flex-end;
	button {
		padding: 6px;
		white-space: nowrap;
		font-weight: bold;
	}
	.submitButton {
		&:hover {
			background-color: $success-color;
		}
	}
	.cancelButton {
		&:hover {
			background-color: $error-color;
		}
	}
}

.settingsHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 7%;
	padding: 10px;
	border-bottom: 2px solid currentColor;
	.leaveSettingsButton {
		margin: 0px 15px 0px;
		height: 90%;
		aspect-ratio: 1 / 1;
		svg {
			width: 100%;
		}
	}
}

.formsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 93%;
	width: 100%;
	.userDataForms {
		height: 100%;
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: baseline;
		overflow: auto;
		form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: baseline;
			background-color: $gray-1;
			width: 60%;
			padding: 5%;
			margin-left: 5%;
			margin-top: 3%;
			border-radius: 1px;
			border: 1px solid $gray-3;
		}
		.oldPassword, .newPassword, .username {
			width: 90%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5%;
			input {
				align-self: flex-end;
				width: 40%;
				background-color: $highlight-color;
				border: none;
				border-radius: $border-rad;
				height: 30px;
				color: $background-color;
				padding: 10px;
				resize: none;
			}
		}
	}
	.avatarForm {
		height: 100%;
		width: 30%;
	}
}

.fileInput {
	height: 100%;
	width: 60%;
	margin: 0 auto 0;
	display: flex;
	flex-direction: column;
	.avatarInput {
		margin-right: 10%;
		margin-top: 20%;
		position: relative;
		img {
			width: 100%;
			position: absolute;
			border-radius: 50%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			transition-delay: 25ms;
			transition-duration: 100ms;
			transition-timing-function: ease-in-out;
			transition-property: filter;
		}
		display: flex;
		justify-content: center; /* horizontal alignment */
		align-items: center; /* vertical alignment */
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		outline: $highlight-color solid 1.5px;
		transition-delay: 25ms;
		transition-duration: 100ms;
		transition-timing-function: ease-in-out;
		transition-property: outline;
		h2 {
			position: absolute;
			visibility: hidden;
			font-size: 10;
			position: fixed;
			z-index: 1;
		}
		&:hover {
			outline: $highlight-color solid 2px;
			img {
				filter: brightness(30%);
			}
			h2 {
				visibility: visible;
			}
		}
	}
	input {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 2;
	}
}

.cropperModal {
	transition: opacity 200ms ease-in 0ms;
	inset: 0px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: $border-rad;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}