$body-background-color: #1a1a1a;
$secondary-color: #0b0b0bff;
$text-color: #d9d9d9ff;
$task-container-background: #414141ff;
$task-container-background-focus: #2d2d2dff;
$taskSectionItems-height: 60px;

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: $secondary-color;
}


.home {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	flex-grow: 1;
	max-height: 100%;
	background-color: $body-background-color;
}

.hudContainer {
	background-color: $body-background-color;
	height: 13%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hud {
	background-color: $task-container-background;
	height: 60%;
	width: 40%;
	min-width: 400px;
	border-radius: 10px;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 5px 10px;
	border: none;
	.completion {
		width: 30%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		h3 {
			font-size: 0.7rem;
			color: $text-color;
		}

	}
	.timeLeft {
		width: 50%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		h3 {
			font-size: 0.7rem;
			color: $text-color;
		}
		h2 {
			font-size: 1.1rem;
			color: $text-color;
			font-family: 'SF PRO DISPLAY BOLD';
		}

	}
}

.main {
	background-color: $body-background-color;
	max-height: 87%;
	min-height: 87%;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.separatingVerticalLine {
	max-width: 1.5px;
	min-width: 1.5px;
	margin: 4% 0%;
	height: 85%;
	background-color: $secondary-color;
	flex-grow: 1;
}

.notesContainer {
	height: 100%;
	width: 50%;
	flex-grow: 1;
}
.noteTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	width: 100%;
	font-size: 1.1rem;
	height: 30px;
	font-family: 'SF PRO DISPLAY BOLD';
	text-align: center;
	color: $text-color;
	margin: 2px 0px 10px;
}
.tasksTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	width: 100%;
	font-size: 1.1rem;
	height: 30px;
	font-family: 'SF PRO DISPLAY BOLD';
	text-align: center;
	color: $text-color;
	margin: 2px 0px 10px;
}

.notesTextArea {
	margin: 1px 10%;
	font-family: 'SF PRO DISPLAY REGULAR';
	font-size: 1rem;
	color: $text-color;
	text-align: left;
	border: none;
	line-height: 1.8;
	padding: 0.4rem 1rem;
	background: rgba(0, 0, 0, 0.7);
	width: 80%;
	height: 85%;
	border-radius: 15px;

	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	resize: none;
}

.notesTextArea:hover {
	outline: rgba(255, 255, 255, 0.2) solid 0.13rem;
}

.notesTextArea:focus {
	outline: rgba(255, 255, 255, 0.2) solid 0.13rem;
}
.tasksContainer {
	// background-color: white;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	overflow: auto;
	flex-grow: 1;
	overflow: hidden;
}

.tasksSection {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	width: 100%;
	position: relative;
	top: 5px;
	max-height: 100%;
	overflow-y: overlay;
}

.taskContainer {
	overflow: hidden;
	background-color: $task-container-background;
	height: $taskSectionItems-height;
	min-height: $taskSectionItems-height;
	width: 80%;
	border-radius: 5px;
	border: 1px solid $secondary-color;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.78));
	margin: 10px;
	transition-property: min-height;
	transition-delay: 10ms;
	transition-duration: 170ms;
	transition-timing-function: ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
		appearance: none;
	}

	button {
		font-family: 'SF PRO DISPLAY REGULAR';
		min-height: $taskSectionItems-height;
		height: $taskSectionItems-height;
		width: 100%;
		background: none;
		border: none;
		margin: 0;
		padding: 0;
		color: $text-color;
		font-weight: normal;
		font-size: 1.1rem;
		cursor: pointer;
		transition-delay: 15ms;
		transition-duration: 55ms;
		transition-property: background-color;
		transition-timing-function: ease-in;
	}
	button:hover {
		background-color: $task-container-background-focus;
	}
}
.expandedContainer {
	flex-grow: 1;
	visibility: 0;
	opacity: 0;
	border: none;
	height: 200px - $taskSectionItems-height;
	background-color: $task-container-background-focus;
	transition-delay: 25ms;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
	transition-property: opacity, visibility;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	p {
		height: 70%;
		overflow: auto;
		text-align: center;
		margin: 2% 4%;
		color: $text-color;
	}
	.sliderEditButtonContainer {
		height: 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 1% 4%;
		// overflow: hidden;
		.progressionSlider {
			width: 70%;
			margin-left: 5%;
			margin-right: 5%;
			background-color: $secondary-color;
			box-shadow: $text-color;
			-webkit-appearance: none;
			outline: none;
			border-radius: 10px;
			overflow: hidden;
		}
		.progressionSlider::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: $text-color;
			cursor: pointer;
			border: 4px solid #333;
			box-shadow: -407px 0 0 400px $text-color;
		}
		.editTaskButton {
			width: 10%;
			height: 10%;
			min-height: 50%;
			svg {
				width: 100%;
				height: 100%;
			}
		}
		input[type='number'] {
			width: 10%;
			color: $text-color;
			text-align: center;
			background-color: $secondary-color;
			border: none;
			border-radius: 2px;
		}
	}
}

.addTaskButton {
	height: 0.9 * $taskSectionItems-height;
	width: 0.9 * $taskSectionItems-height;
	min-height: 0.9 * $taskSectionItems-height;
	min-width: 0.9 * $taskSectionItems-height;
	border-radius: 50%;
	padding: 0;
	border: none;
	background: none;
	margin: 20px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: stretch;
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
	transition-delay: 10ms;
	transition-duration: 50ms;
	transition-timing-function: ease-in;
	transition-property: background-color, height, width;
	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		filter: brightness(80%);
	}
}
.addTaskButton:hover {
	background-color: rgba(255, 255, 255, 0.04);
	height: 0.93 * $taskSectionItems-height;
	width: 0.93 * $taskSectionItems-height;
	svg {
		filter: brightness(90%);
	}
}

.createTaskModal {
	visibility: hidden;
	opacity: 0;
	transition-delay: 0ms;
	transition-duration: 200ms;
	transition-property: opacity;
	transition-timing-function: ease-in;
	inset: 0px;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0px;
	position: absolute;
}

.taskFormContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 90px auto auto;
	background-color: $task-container-background;
	height: 450px;
	width: 425px;
	border-radius: 4px;
	input,
	textarea {
		background-color: $secondary-color;
		border: none;
		border-radius: 4px;
		height: 30px;
		color: $text-color;
		padding: 10px;
		resize: none;
	}
	form {
		font-family: 'SF PRO DISPLAY REGULAR';
		color: $text-color;
		height: 93%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
		margin: 15px 20px;
		h1 {
			font-size: 1.1rem;
			margin: 5px 0px;
			border-bottom: 2px solid currentColor;
		}
		.taskNameContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			label {
				font-family: 'SF PRO DISPLAY BOLD';

				margin-bottom: 7px;
			}
		}
		.taskDescriptionContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			label {
				font-family: 'SF PRO DISPLAY BOLD';

				margin-bottom: 7px;
			}
			textarea {
				font-family: 'SF PRO DISPLAY REGULAR';
				resize: noremne;
				height: 100px;
			}
		}
		.priority {
			p {
				font-family: 'SF PRO DISPLAY BOLD';

				margin-top: 0px;
				margin-bottom: 10px;
			}
			input {
				height: 10px;
			}
		}
		.buttonsContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			button {
				font-family: 'SF PRO DISPLAY REGULAR';
				align-items: center;
				height: 25px;
				width: 70px;
				background-color: #d9d9d9;
				border: none;
			}
			button:hover {
				color: $text-color;
				border: 1px solid $secondary-color;
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}
}
