$nav-background-color: #bdbdbd;
$text-color: #0b0b0b;


// https://mionskowski.pl/posts/positioning-a-context-menu-using-pure-css/
.contextMenu {
        position: fixed;
        width: 150px;
        height: 180px;
        background-color: $nav-background-color;
        border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 1rem;
        overflow: hidden;
        // opacity: 0;
        // visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        // transition-delay: 25ms;
        // transition-duration: 70ms;
        // transition-timing-function: ease-in;
        // transition-property: opacity, visibility;
        z-index: 1;
        button {
            font-family: 'SF PRO DISPLAY BOLD';
            color: $text-color;
            font-size: 1rem;
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            z-index: 2;
        }
        button:hover {
            filter: invert(40%);
        }
        hr {
            background-color: $text-color;
            width: 70%;
            border: 0.1px solid #d9d9d91a;
        }
    
}