.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.outer {
    height: 158px;
    width: 158px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

svg{
    position: relative;
    left: 0px;
    top: -160px;
    width: 160px;
    height: 160px;
}
circle{
    fill: none;
    stroke-linecap:round;
    stroke: cornflowerblue;
    stroke-width: 20px;
    stroke-dasharray: calc((2*70*3.14));
    stroke-dashoffset: calc((2*70*3.14) - (2*70*3.14)*0.1);
}